# Ignorar todas las imágenes en las subcarpetas de data_set_4
data/Punto-4/train/*
data/Punto-4/test/*

# Pesa +22M
data/Punto-3/Ratings.csv
# Ignorar un archivo .zip específico
data/Punto-4/archive.zip
